<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title >Oussama Translator</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
        body {
             background: radial-gradient(circle at 1.98% 74.02%,rgb(240, 78, 105),transparent 100%),radial-gradient(circle at 98.02% 35.97%,rgb(51, 25, 146),transparent 100%),radial-gradient(circle at 50% 50%,#c7c3da,#593dbb 100%);
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row col-6 mx-auto mt-5">
                {% block body %}

                {% endblock %}
            </div>
        </div>
    </body>
</html>
